/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        tmux_prfx: tmux_prfx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp SPACE>, <&macro_release &kp LCTRL>;
            label = "TMUX_PRFX";
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_tmux {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&tmux_prfx>;
        };
    };

    behaviors {
        caps_ctrl: caps_ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "CAPS_CTRL";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        lt_spc: lt_spc {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_SPC";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };

        ent_shft: ent_shft {
            compatible = "zmk,behavior-hold-tap";
            label = "ENT_SHFT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB              &kp Q  &kp W  &kp E      &kp R      &kp T        &kp Y       &kp U      &kp I      &kp O    &kp P     &kp LBKT
&caps_ctrl LCTRL ESC &kp A  &kp S  &kp D      &kp F      &kp G        &kp H       &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp ESC              &kp Z  &kp X  &kp C      &kp V      &kp B        &kp N       &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSPACE
                               &kp LCMD   &kp LALT   &ent_shft RSHFT ENTER    &lt_spc 1 SPACE &kp RSHFT  &tmux_prfx
            >;
        };

        layer_below {
            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5       &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp BSLH
&trans     &kp LPAR  &kp LBRC  &kp LBKT  &kp LT    &kp MINUS    &kp PLUS  &kp GT    &kp RBKT  &kp RBRC  &kp RPAR  &kp PIPE
&trans     &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET &kp AMPS  &kp STAR  &kp UNDER &kp EQUAL &mo 2
                               &trans    &trans    &trans       &trans    &kp DEL   &trans
            >;
        };

        layer_above {
            bindings = <
&trans      &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6     &kp F7     &kp F8   &kp F9     &kp F10  &trans
&trans      &kp C_PREV    &kp C_NEXT    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP        &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT  &trans   &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans     &trans     &trans   &trans     &trans   &trans
                                        &trans        &trans        &trans          &trans     &trans     &trans
            >;
        };
    };
};
